<%= @player_one.name %> vs. <%= @player_two.name %>

<br/>
<br/>

<%= @player_one.name%>: <%= @player_one.hit_points %> HP

<%= @player_two.name%>: <%= @player_two.hit_points %> HP

It is now <%=$game.turn.name%>'s turn to attack

<form action="/attack">
<button name='attack' type='submit'>Attack</button>
</form>
