<%= @player_name_one %> vs. <%= @player_name_two %>

<br/>
<br/>

<%= @player_name_one%>: <%= @player_one_hit_points %> HP

<%= @player_name_two%>: <%= @player_two_hit_points %> HP

<form action="/attack">
<button name='attack' type='submit'>Attack</button>
</form>
